<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://calculatortej.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/80965415-4b92-48cb-9a57-aef4628b5f77/resourceGroups/TejResourceGroup/providers/Microsoft.Web/sites/calculatorTej</ResourceId>
    <UserName>$calculatorTej</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://calculatortej.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>